/* for th tolity of the page */

* {
    background-color: white;
}

body {
    padding: 0;
    margin-left: 0;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #019939, #336699);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: block;
}


/* the descriptive cover div on the top of the page */

.coverparent {
    height: 600px;
    width: 100%;
    background: url("../ressources/img/RS-members-funders.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s;
}

.cover {
    padding-top: 50px;
    height: 600px;
    width: 100%;
    background: linear-gradient(90deg, #3d952bc2, #336699c9);
    /* opacity: .7; */
}

.coverContent {
    display: none;
    color: white;
    margin-top: 100px;
    margin-left: 10%;
    max-width: 700px;
    min-width: 500px;
    height: 300px;
    background-color: transparent;
}

.coverContent p {
    background-color: transparent;
    margin-bottom: 30px;
}

.coverContent h4 {
    background-color: transparent;
}

.coverTilte {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.bouton {
    width: 160px;
    height: 40px;
    border-radius: 30px;
    color: #019939;
    background: #fff;
}


/***================= FIN DU SUPRFUX =======================***/


/********+++++++++++++++ THE SWITCHING MENU +++++++++++++++++++******/

.SecondMenu {
    width: 100%;
    height: 50px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.boutton {
    /*le boutons du menu */
    margin-left: 10px;
    width: 120px;
    height: 80%;
    padding-top: auto;
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    transition: all 1s;
    cursor: pointer;
}

.boutton:focus {
    border-radius: 0px;
    font-weight: bold;
}


/************* la seachBar *********************/

.block-form-search {
    background: transparent;
    margin-top: 30px;
    margin-left: 25.5%;
}

form {
    transform: translate(0%, 50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #019939;
    padding: 2px;
}

input {
    position: absolute;
    color: #019939;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

form:hover {
    width: 74%;
    cursor: pointer;
}

form:hover input {
    display: block;
}


/*********************** FIN de la SEACHbAR


/********+++++++++++++++ THE REAL LISTE MAIN CONTAINER +++++++++++++++++++******/

#contenerPrincipal {
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 2%;
}

.main {
    padding-top: 50px;
    display: none;
}

.style1 {
    /* background: yellow; */
    /* padding-right: -50px !important; */
    margin-bottom: 100px;
    padding-left: 5%;
}

.style1 h5 {
    font-size: 20px;
    margin-top: 50px;
}

.style1 p {
    font-size: 15px;
}


/************ contnue texte************/

.style1 .boule {
    margin-left: 20px;
    margin-top: 110px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(90deg, #019939, #336699);
}

.style1 .boule::before {
    /**** barre dde separation ****/
    content: '';
    display: block;
    position: relative;
    width: 2px;
    height: 250px;
    background: linear-gradient(90deg, #019939, #336699);
    left: 45.5%;
    top: 35px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}


/************ contnue image ************/

.style1 .contentImg {
    /*background-color: green;*/
}

.style1 .content {
    width: 100%;
}

.style1 .content::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -200px;
    left: 100px;
    z-index: -1;
    background-color: grey;
    opacity: 0.4;
}

.style1 .contentImg img {
    width: 100%;
    height: 100%;
}


/********+++++++++++++++ THE REAL LISTE  FOR STYLE2 +++++++++++++++++++******/

.style2 {
    /*background: yellow; */
    margin-bottom: 50px;
}

.style2 h5 {
    margin-top: 50px;
}


/************ contnue image ************/

.style2 .contentImg {
    /*background-color: red;*/
}

.style2 .content {
    width: 100%;
    /*background-color: pink;*/
}

.style2 .content::after {
    /* la sorte de ombre grise */
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -250px;
    left: -110px;
    z-index: -1;
    background-color: grey;
    opacity: 0.4;
}

.style2 .contentImg img {
    width: 100%;
    height: 100%;
}


/************ separateur************/

.style2 .boule {
    margin-left: 20px;
    margin-top: 110px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(90deg, #019939, #336699);
}

.style2 .boule::before {
    /**** barre dde separation ****/
    content: '';
    display: block;
    position: relative;
    width: 2px;
    height: 230px;
    background: linear-gradient(90deg, #019939, #336699);
    left: 45.5%;
    top: 35px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.style2 .separateur {
    /*background-color: blue;*/
}


/************ contnue texte************/

.style2 .contentText {
    /*background-color: green;*/
}


/***********************************==================== SWITHING MODE ======================********************/

.CoverActive {
    display: block;
}

.mainActive {
    display: block;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR PLUS LARGE (LG)
 /*/

@media only screen and (min-width: 1500px) {}


/*/
    ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
 /*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 991px) {
    .coverText {
        font-size: 0.9rem;
    }
    .coverContent {
        margin-left: 7%;
        margin-right: 5%;
    }
    .style1 {
        padding-left: 0%;
    }
    /************* la seachBar *********************/
    .block-form-search {
        margin-left: 16%;
    }
    form:hover {
        width: 100%;
        cursor: pointer;
    }
    form:hover input {
        display: block;
    }
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    .separateur {
        display: none;
    }
    .style1>.contentText {
        margin-bottom: 40px;
    }
    .style1,
    .style2 {
        padding-bottom: 100px;
        border-bottom: 1px solid silver;
    }
    .style2 {
        padding-bottom: 80px;
        border-bottom: 1px solid silver;
    }
    /************* la seachBar *********************/
    .block-form-search {
        margin-left: 1%;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {
    .coverContent {
        margin-left: 2%;
        margin-right: 30%;
    }
    .coverText {
        font-size: 0.8rem;
    }
}